
# Created by https://www.toptal.com/developers/gitignore/api/python,django,intellij,pycharm
# Edit at https://www.toptal.com/developers/gitignore?templates=python,django,intellij,pycharm

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/static
